<!DOCTYPE html>
<html>

<head>
    <style type="text/css">
    .brass {
      height: 80%;
      margin-bottom: auto;
      padding: 0;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    span.field-icon {
      float: right;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      z-index: 2;
    }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <title>Ghadastre</title>
</head>

<body>
<header style=" position:fixed;top:0;left:0; right: 0;width:100%;">
    <nav>
        <div class="nav-wrapper black white-text">
            <div style="padding-left: 15px; padding-right: 15px;">

                <a href="{% url 'homepage' %}" class="brand-logo left">Ghadastre</a>
                <ul class="right show-on-med-and-down valign-wrapper">
                    <li class="hide"><a href="#" data-target="modal1" class="waves-effect white-text modal-trigger">Sign Up | Sign In</a></li>
                    <li><a href="#" class="waves-effect white-text"><i class="material-icons left">account_circle</i>
                        {{request.user.username}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main style="margin-bottom: 100px;margin-top: 100px;">
    <div class="row">
        <div class="col s12 l6 offset-l3">
            <div class="card horizontal">
                <div class="card-stacked">
                    <div class="card-content" style="margin-top: -20px;">
                        <h5>Edit Password</h5>
                        <form action="." method="post">
                            <div class="col s12 l12" style="margin-top: -20px; margin-left: -12px; width: 105%;">
                                <div class='input-field'>
                                    <i class="material-icons prefix">lock</i>
                                    <input class='validate' type='password' name='password1' id='password1'
                                    value="{{ password1 }}" onkeydown="remove_error_msg()"/>
                                    <label for='password1'>Type password</label>
                                    <span class="field-icon toggle-password" onclick="toggle_password1()">
                                        <span class="material-icons" id="password1_icon">visibility</span></span>
                                </div>
                            </div>

                            <div class="col s12 l12" style="margin-top: -20px; margin-left: -12px; width: 105%;">
                                <div class='input-field'>
                                    <i class="material-icons prefix">lock</i>
                                    <input class='validate' type='password' name='password2' id='password2'
                                    value="{{ password2 }}" onkeydown="remove_error_msg()"/>
                                    <label for='password2'>Retype password</label>
                                    <span class="field-icon toggle-password" onclick="toggle_password2()">
                                        <span class="material-icons" id="password2_icon">visibility</span></span>
                                </div>

                                {% if password1 != password2 %}
                                <i id="errormsg" style="font-family: sans-serif;" class="red-text right">
                                    Password mismatch</i>
                                {% endif %}
                            </div>

                            {% csrf_token %}

                            <div class="modal-footer">
                                <a onclick="history.back()" class="right waves-effect waves-green btn-flat black-text" style="z-index: 0;">
                                    Cancel</a>
                                <button type="submit" class="right waves-effect waves-green btn-flat black-text">
                                    Submit</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer class="page-footer black white-text" style=" position:fixed;bottom:0;left:0;width:100%;">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6 class="white-text">Ghadastre</h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright Ghadastre
            <a class="grey-text text-lighten-4 right" href="{% url 'contributors' %}">Contributors</a>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var password1_icon = document.getElementById('password1_icon');

    function toggle_password1(){
        if (String(password1_icon.innerHTML) === "visibility"){
            password1_icon.innerHTML = "visibility";
            document.getElementById('password1').type = "password";
        } else{
            password1_icon.innerHTML = "visibility_off";
            document.getElementById('password1').type = "text";
        };
    };


    var password2_icon = document.getElementById('password2_icon');

    function toggle_password2(){
        if (String(password2_icon.innerHTML) === "visibility"){
            password2_icon.innerHTML = "visibility"
            document.getElementById('password2').type = "password";
        } else{
            password2_icon.innerHTML = "visibility_off";
            document.getElementById('password2').type = "text";
        };
    };


    function remove_error_msg(){
        document.getElementById('errormsg').remove();
    };

  </script>
</body>

</html>