<!DOCTYPE html>
<html>
{% load static %}
<head>
    <style type="text/css">
    .brass {
      height: 80%;
      margin-bottom: auto;
      padding: 0;
    }

    body {
      display: flex;
      min-height: 100vh;
      flex-direction: column;
    }

    main {
      flex: 1 0 auto;
    }

    span.field-icon {
      float: right;
      position: absolute;
      right: 10px;
      top: 10px;
      cursor: pointer;
      z-index: 2;
    }
  </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="css/materialize.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" />
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.3/dist/leaflet.css" integrity="sha256-kLaT2GOSpHechhsozzB+flnD+zUyjE2LlfWPgU04xyI=" crossorigin="" />
    <script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js" integrity="sha256-WBkoXOwTeyKclOHuWtc+i2uENFpDZ9YPdf5Hf+D7ewM=" crossorigin=""></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <title>Ghadastre</title>
</head>

<body class="grey lighten-3">
<header style=" position:fixed;top:0;left:0; right: 0; width:100%; z-index: 1;">
    <nav>
        <div class="nav-wrapper black white-text">
            <div style="padding-left: 15px; padding-right: 15px;">

                <a href="{% url 'homepage' %}" class="brand-logo left">Ghadastre</a>
                <ul class="right show-on-med-and-down valign-wrapper">
                    <li class="hide"><a href="#" data-target="modal1" class="waves-effect white-text modal-trigger">Sign Up | Sign In</a></li>
                    <li><a href="#" class="waves-effect white-text"><i class="material-icons left">account_circle</i>
                        {{request.user.username}}</a></li>
                </ul>
            </div>
        </div>
    </nav>
</header>
<main style="width: 100%;">

    <div style="width: 100%;" class="grey lighten-3">
        <div class="container">

            <h4 style="height: 50px;"></h4>
            <h4 class="center">PARCEL DETAILS</h4>
            <h6 style="height: 5px;"></h6>

            <div class="row">
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Parcel Id: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.code }}</strong>
                    </p>
                    </p>
                </div>
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        <a href="{% url 'parcelownerdetail' parcel.owner.code %}">Owner: &nbsp;</a>
                    <p class="right">
                        <strong>{{ parcel.owner.firstname }} {{ parcel.owner.surname }}</strong>
                    </p>
                    </p>
                </div>
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Town: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.town.name }}</strong>
                    </p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        District: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.town.district.name }}</strong>
                    </p>
                    </p>
                </div>
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Region: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.town.district.region.name }}</strong>
                    </p>
                    </p>
                </div>
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Country: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.town.district.region.country.name }}</strong>
                    </p>
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Area: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.area }} {{ parcel.parcelCRS.unitsymbol }}²</strong>
                    </p>
                    </p>
                </div>
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Perimeter: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.perimeter }} {{ parcel.parcelCRS.unitsymbol }}</strong>
                    </p>
                    </p>
                </div>
                <div class="col s12 m4 l4 valign-wrapper">
                    <p class="left">
                        Center: &nbsp;
                    <p class="right">
                        <strong>{{ parcel.center }} {{ parcel.parcelCRS.unitsymbol }}</strong>
                    </p>
                    </p>
                </div>
            </div>
            <div class="row">
                <hr>
            </div>
            <div class="row">
                <div class="col s12 m4 l5">
                    <strong><em><p>WGS84 COORDINATE SYSTEM</p></em></strong>
                    <p class=" valign-wrapper">Corner Point Coordinates <i class="material-icons">location_on</i></p>
                    <div style="width: 100%; overflow: auto;">
                        <table id="default_table_corner">
                            <thead>
                            <tr>
                                <th>
                                    POINT
                                </th>
                                <th>
                                    LONGITUDE
                                </th>
                                <th>
                                    LATITUDE
                                </th>
                            </tr>
                            </thead>
                            <tbody id="default_table_corner_body">

                            </tbody>
                        </table>
                    </div>
                    <p style="height: 20px;"></p>
                    <p class=" valign-wrapper">Reference Point Coordinates <i class="material-icons">gps_fixed</i></p>
                    <div style="width: 100%; overflow: auto;">
                        <table id="default_table_reference">
                            <thead>
                            <tr>
                                <th>
                                    NAME
                                </th>
                                <th>
                                    LONGITUDE
                                </th>
                                <th>
                                    LATITUDE
                                </th>
                            </tr>
                            </thead>
                            <tbody id="default_table_reference_body">

                            </tbody>
                        </table>
                    </div>
                </div>
                <div class="col s12 m4 l5 right">
                    <strong><em><p style="text-transform: uppercase;">{{ parcel.parcelCRS.name }}</p></em></strong>
                    <p class=" valign-wrapper">Corner Point Coordinates <i class="material-icons">location_on</i></p>
                    <div style="width: 100%; overflow: auto;">
                        <table id="custom_table_corner">
                            <thead>
                            <tr>
                                <th>
                                    POINT
                                </th>
                                <th>
                                    EASTINGS/
                                    LONGITUDE
                                </th>
                                <th>
                                    NORTHINGS/
                                    LATITUDE
                                </th>
                            </tr>
                            </thead>
                            <tbody id="custom_table_corner_body">

                            </tbody>
                        </table>
                    </div>
                    <p style="height: 20px;"></p>
                    <p class=" valign-wrapper">Reference Point Coordinates <i class="material-icons">gps_fixed</i></p>
                    <div style="width: 100%; overflow: auto;">
                        <table id="custom_table_reference">
                            <thead>
                            <tr>
                                <th>
                                    POINT
                                </th>
                                <th>
                                    EASTINGS/
                                    LONGITUDE
                                </th>
                                <th>
                                    NORTHINGS/
                                    LATITUDE
                                </th>
                            </tr>
                            </thead>
                            <tbody id="custom_table_reference_body">

                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="map" style="height: 400px; width: 100%;">

    </div>
</main>
<footer class="page-footer black white-text">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h6 class="white-text">Ghadastre</h6>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            © 2022 Copyright Ghadastre
            <a class="grey-text text-lighten-4 right" href="{% url 'contributors' %}">Contributors</a>
        </div>
    </div>
</footer>
<script type="text/javascript">
    var attribute = 'EFKINITOS GROUP @ DEPARTMENT OF GEOMATIC ENGINEERING, KNUST';
    var zoom = 6;
    var maxzoom = 50;
    var center = [7.023, 1.87];

    var map = L.map('map', {
      center: center,
      zoom: zoom,
      maxZoom: maxzoom,
      crs: L.CRS.EPSG3857,
    });

    // Adjusting the position of the zoom controls
    map.zoomControl.setPosition('bottomright');
    map.attributionControl.setPrefix("");

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
      attribution: attribute + ' &copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
    }).addTo(map);


    // Below is the format of the coordinates data
    // {"unitsymbol": ft, "coordinates": [[6, 5], [9, 1],...]}
    //

    var default_corner_coordinates = {"unitsymbol": " °",
    "coordinates": convert_polygon_from_wkt("{{parcel.parcelboundaryWGS84.wkt}}")};
    default_corner_coordinates.coordinates.pop();

    var custom_corner_coordinates = {"unitsymbol": " {{ parcel.parcelCRS.unitsymbol }}",
    "coordinates": convert_polygon_from_wkt("{{parcel.parcelboundaryDEFAULT}}")};
    custom_corner_coordinates.coordinates.pop();

    {% if parcel.parcelreferenceDEFAULT %}

    var default_reference_coordinates = {"unitsymbol": " °",
    "coordinates": convert_multipoint_from_wkt("{{parcel.parcelreferenceWGS84.wkt}}")};

    var custom_reference_coordinates = {"unitsymbol": " {{ parcel.parcelCRS.unitsymbol }}",
    "coordinates": convert_multipoint_from_wkt("{{parcel.parcelreferenceDEFAULT}}")};

    {% else %}

    var default_reference_coordinates = null;
    var custom_reference_coordinates = null;

    {% endif %}


    // Populating default table with corner coordinates retrieved
    //
    var default_corner_table_body = document.getElementById("default_table_corner_body");

    for (let item_index in default_corner_coordinates.coordinates) {
            var table_row = default_corner_table_body.insertRow();
            var row_cell1 = table_row.insertCell(0);
            var row_cell2 = table_row.insertCell(1);
            var row_cell3 = table_row.insertCell(2);

            var unit_symbol = default_corner_coordinates.unitsymbol

            row_cell1.innerHTML = "C" + String(parseInt(item_index) + 1);
            row_cell2.innerHTML = default_corner_coordinates.coordinates[item_index][1] + unit_symbol;
            row_cell3.innerHTML = default_corner_coordinates.coordinates[item_index][0] + unit_symbol;
    };


    // Populating default table with corner coordinates retrieved
    //
    var default_reference_table_body = document.getElementById("default_table_reference_body");

    if (default_reference_coordinates !== null) {
        for (let item_index in default_reference_coordinates.coordinates) {
            var table_row = default_reference_table_body.insertRow();
            var row_cell1 = table_row.insertCell(0);
            var row_cell2 = table_row.insertCell(1);
            var row_cell3 = table_row.insertCell(2);

            var unit_symbol = default_corner_coordinates.unitsymbol

            row_cell1.innerHTML = "R" + String(parseInt(item_index) + 1);
            row_cell2.innerHTML = default_reference_coordinates.coordinates[item_index][1] + unit_symbol;
            row_cell3.innerHTML = default_reference_coordinates.coordinates[item_index][0] + unit_symbol;
        };

    };


    // Populating custom table with corner coordinates retrieved
    //
    var custom_corner_table_body = document.getElementById("custom_table_corner_body");

    for (let item_index in custom_corner_coordinates.coordinates) {
            var table_row = custom_corner_table_body.insertRow();
            var row_cell1 = table_row.insertCell(0);
            var row_cell2 = table_row.insertCell(1);
            var row_cell3 = table_row.insertCell(2);

            var unit_symbol = custom_corner_coordinates.unitsymbol

            row_cell1.innerHTML = "C" + String(parseInt(item_index) + 1);
            row_cell2.innerHTML = custom_corner_coordinates.coordinates[item_index][1] + unit_symbol;
            row_cell3.innerHTML = custom_corner_coordinates.coordinates[item_index][0] + unit_symbol;
    };


    // Populating default table with corner coordinates retrieved
    //
    var custom_reference_table_body = document.getElementById("custom_table_reference_body");

    if (custom_reference_coordinates !== null) {
        for (let item_index in custom_reference_coordinates.coordinates) {
            var table_row = custom_reference_table_body.insertRow();
            var row_cell1 = table_row.insertCell(0);
            var row_cell2 = table_row.insertCell(1);
            var row_cell3 = table_row.insertCell(2);

            var unit_symbol = custom_corner_coordinates.unitsymbol

            row_cell1.innerHTML = "R" + String(parseInt(item_index) + 1);
            row_cell2.innerHTML = custom_reference_coordinates.coordinates[item_index][1] + unit_symbol;
            row_cell3.innerHTML = custom_reference_coordinates.coordinates[item_index][0] + unit_symbol;
        };

    };


     // Container to hold all the layers plotted on the map
     var map_data = [];

    // Plotting the corner points on the map
    //
    for (let item_index in default_corner_coordinates.coordinates) {
        var tooltip_msg = "<b>C" + String(parseInt(item_index) + 1) + "</b>";

        var parcel_corner = L.marker(default_corner_coordinates.coordinates[item_index]).addTo(map);

         parcel_corner.bindTooltip(tooltip_msg,
            {permanent: true,
             direction: center,
             className: 'tooltip',
         }).openTooltip();

         map_data.push(parcel_corner);
    };

    var parcel_polygon = L.polygon(default_corner_coordinates.coordinates, {
            color: 'red',
            fillOpacity: 0.1,
         }).addTo(map);

    map_data.push(parcel_polygon);


    // Plotting the reference points on the map
    //
    for (let item_index in default_reference_coordinates.coordinates) {
        var tooltip_msg = "<b>R" + String(parseInt(item_index) + 1) + "</b>";

        var reference_point = L.marker(default_reference_coordinates.coordinates[item_index]).addTo(map);

         reference_point.bindTooltip(tooltip_msg,
            {permanent: true,
             direction: center,
             className: 'tooltip',
         }).openTooltip();

         map_data.push(reference_point);
    };

    // Putting all the map data in one map datatype called feature group
    // and getting their bounds or extent or bounding box for fitting all the
    // items on the map
    var map_items = L.featureGroup(map_data);
    map.fitBounds(map_items.getBounds());


    function convert_multipoint_from_wkt(wkt){
            // wkt format =>> 'MULTIPOINT (1 2, 0 0)'
            // required format =>> [[6, 5], [9, 1], [6, 1], [6, 5]]

            var cleaned = [];
            var cleaned_detail;
            _wkt = wkt.split("(")[1].split(")")[0].split(",");

            for (let item_index in _wkt) {
                   cleaned_detail = _wkt[item_index].trim().split(" ");
                   var latitude = cleaned_detail[0];
                   var longitude = cleaned_detail[1];
                   cleaned_detail = [longitude, latitude];
                   cleaned.push(cleaned_detail);
                   var cleaned_detail;
                };

            return cleaned;
    };


    function convert_polygon_from_wkt(wkt){
            // wkt format =>> 'POLYGON ((6 5, 9 1, 6 1, 6 5))'
            // required format =>> [[6, 5], [9, 1], [6, 1], [6, 5]]

            var cleaned = [];
            var cleaned_detail;
            _wkt = wkt.split("((")[1].split("))")[0].split(",");

            for (let item_index in _wkt) {
                   cleaned_detail = _wkt[item_index].trim().split(" ")
                   var latitude = cleaned_detail[0];
                   var longitude = cleaned_detail[1];
                   cleaned_detail = [longitude, latitude];
                   cleaned.push(cleaned_detail)
                   var cleaned_detail;
                };

            return cleaned;
    };
  </script>
</body>

</html>
